{% extends 'base.html' %}

{% block content %}
    <div class="content" style="flex: 1 0 auto;"></div>
    <div class="carousel slide" data-ride="carousel" id="carousel-2" style="min-height: 150px;">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item"><img class="w-100 d-block" src="static/img/websiteplanet-dummy-1920X540.png" alt="Slide Image" style="min-height: 150px;"></div>
            <div class="carousel-item"><img class="w-100 d-block" src="static/img/websiteplanet-dummy-1920X540%20(1).png" alt="Slide Image" style="min-height: 150px;"></div>
            <div class="carousel-item active"><img class="w-100 d-block" src="static/img/websiteplanet-dummy-1920X540.jpeg" alt="Slide Image" style="min-height: 150px;"></div>
        </div>
        <div><a class="carousel-control-prev" href="#carousel-2" role="button" data-slide="prev"><span class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-2" role="button" data-slide="next"
                style="font-family: 'Cormorant Unicase', serif;"><span class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a></div>
        <ol class="carousel-indicators">
            <li data-target="#carousel-2" data-slide-to="0"></li>
            <li data-target="#carousel-2" data-slide-to="1"></li>
            <li data-target="#carousel-2" data-slide-to="2" class="active"></li>
        </ol>
    </div>
    <div id="asd">
        <h3 class="text-center" id="asd" style="height: auto;font-family: 'Cormorant Unicase', serif;"><br>Lorem ipsum dolor sit amet - consectetur adipiscing elit<br><br></h3>
        <p class="text-center" style="font-family: Vollkorn, serif;"><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ullamcorper elit nec nunc convallis, sit amet tempus sem blandit. Aliquam vel dui posuere tellus scelerisque gravida. In malesuada odio vitae nibh molestie, vel posuere ex posuere.
            Nam hendrerit mi quis metus scelerisque viverra. Nulla in nisi eget neque pulvinar mollis quis a velit. Praesent ornare semper faucibus. Proin at dui nunc. Etiam velit elit, rhoncus a massa in, interdum tincidunt enim. Donec tincidunt vestibulum
            dapibus.Vivamus eget ullamcorper eros. Aliquam erat volutpat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec et tempus nisl, id euismod leo. Cras tempor lorem purus, imperdiet maximus dui viverra
            nec. Phasellus sit amet elementum arcu. Sed blandit at odio vitae dignissim. Curabitur in sollicitudin mauris. Nunc vehicula magna ac tortor mollis tempus sit amet vitae diam. Donec tempor finibus hendrerit. Aenean sed sapien nec tellus commodo
            vulputate sit amet ornare nisi. Quisque non eros id nulla ullamcorper ultricies. Curabitur eu vulputate erat. Sed ac placerat mi, ac commodo dui.<br><br></p>
    </div>
    <hr style="height: 0px;margin-top: 20px;width: 100%;"><img src="static/img/234.svg" style="height: 32px;margin-bottom: 32px;margin-top: 50px;">
    <div class="row" id="asd">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 align-self-center order-1 order-sm-1 order-md-1" id="ws" style="padding: 0px;">
            <h3 class="text-center" style="margin-bottom: 10px;font-family: 'Cormorant Unicase', serif;">Заголовок</h3>
            <p class="text-center" style="font-family: Vollkorn, serif;margin: 0px;">Разнообразный и богатый опыт начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям. Равным образом постоянный количественный рост и
                сфера нашей активности влечет за собой;<br></p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center d-xl-flex align-self-center order-2 order-sm-2 order-md-2 justify-content-xl-center align-items-xl-center" id="ws" style="padding: 0px;"><img class="img-fluid" src="static/img/pexels-max-vakhtbovych-6394704.jpg" width="80%"></div>
        <div class="col-12 col-md-6 col-xl-6 text-center d-xl-flex order-4 order-sm-4 order-md-2 justify-content-xl-center align-items-xl-center" id="ws" style="padding: 0px;"><img class="img-fluid d-xl-flex justify-content-xl-center align-items-xl-center" src="static/img/pexels-cottonbro-4046307.jpg" width="80%"></div>
        <div class="col-12 col-md-6 align-self-center order-3 order-sm-3 order-md-4" id="ws" style="padding: 0px;">
            <h3 class="text-center" style="margin-bottom: 10px;font-family: 'Cormorant Unicase', serif;">Заголовок</h3>
            <p class="text-center d-xl-flex align-items-xl-center" style="font-family: Vollkorn, serif;margin: 0px;margin-bottom: 0px;">Разнообразный и богатый опыт начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям. Равным образом постоянный количественный рост и
                сфера нашей активности влечет за собой процесс внедрения и модернизации дальнейших направлений развития.<br></p>
        </div>
        <div class="col-12 col-md-6 align-self-center order-4 order-sm-4 order-md-5" id="ws" style="padding: 0px;">
            <h3 class="text-center" style="margin-bottom: 10px;font-family: 'Cormorant Unicase', serif;">Заголовок</h3>
            <p class="text-center" style="font-family: Vollkorn, serif;margin: 0px;"><br>Разнообразный и богатый опыт начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям. Равным образом постоянный<br></p>
        </div>
        <div class="col-12 col-md-6 text-center d-xl-flex order-5 order-sm-5 order-md-6 justify-content-xl-center align-items-xl-center" id="ws" style="padding: 0px;"><img class="img-fluid" src="static/img/pexels-cottonbro-4045549.jpg" width="80%"></div>
    </div>
{% endblock %}